body {
    background-color: #BEE3DB;
}

.header {
    display: grid;
    grid-template-columns: auto minmax(0, 4fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-areas: "logo user title language cart";
    align-items: center;
    gap: 10px;
    background-color: #8CDED9;
    border-radius: 20px;
}

.header h1 {
    font-family: 'titulos', sans-serif;
    font-size: 3em;
}

.header h2 {
    font-family: 'textos', sans-serif;
    font-size: 1.2em;
}

.header__logo img {
    width: 100%;
    height: auto;
    max-width: 12em;
    cursor: pointer;
}

.header__user img,
.header__language__esp img,
.header__language__eng img,
.header__cart img {
    width: 100%;
    height: auto;
    max-width: 3em;
    cursor: pointer;
}

.flags {
    width: 20%; 
    height: 4em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    padding: 0; 
    cursor: pointer;
}

#es {
    background-image: url('./img/idioma.png');
}

#en {
    background-image: url('./img/uk.webp');
}


.header__subtitle {
    text-indent: 5em;
}

.header__content {
    margin-left: 3%;
}

.menu-wrapper {
    background-color: #8CDED9;
    display: flex;
    justify-content: center;
    padding: 0.7em;
    border: solid black 3px;
    border-radius: 20px;
    max-width: 90em;
    margin: 0 auto;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline-block;
    margin: 0 1.4em;
}

.menu li a {
    text-decoration: none;
    padding: 0.7em;
    color: #000;
}

.menu li a:hover {
    background-color: #D3BC90;
    color: #000;
    border-radius: 20px;
}

nav {
    position: relative;
    z-index: 2;
}

.list {
    font-family: 'titulos', sans-serif;
    font-size: 1.3em;
}

.line {
    background-color: #D3BC90;
    margin: 4% auto;
    width: 90%;
    max-width: 90%;
    height: 30px;
    max-height: 30px;
    border-radius: 20px;
}


footer {
    position: relative;
}

.footer-container {
    width: 100%;
    max-width: 100%;
    height: 13em;
    max-height: 13em;
    background-color: #8CDED9;
    border-radius: 20px;
    text-align: center;
    margin-top: 6%;
    z-index: 2;
}

.footer-container h1 {
    margin-bottom: 1%;
    padding-top: 3%;
    font-family: 'titulos', sans-serif;
}

.footer-container div {
    display: inline-block;
    margin: 0 1em;
}

.footer-container img {
    width: 100%;
    max-width: 100%;
    height: 4em;
    max-height: 4em;
}

.image-overlay {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    bottom: 10em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.image-overlay img {
    width: 100px;
    height: 100px;
    margin: 0 100px;
}

#nosotros-section {
    background-color: #D3BC90;
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
    max-width: 60%;
}

#nosotros-section header h1 {
    text-align: center;
    margin-bottom: 0.5em;
    font-family: 'titulos', sans-serif;
    font-size: 2em;
}

#nosotros-section article {
    text-align: justify;
}

#nosotros-section article p {
    margin-bottom: 0.7em;
    font-family: 'textos', sans-serif;
    font-size: 1.3em;
}


#reserva-section {
    text-align: center;
    margin-top: 4em;
}

#reserva-section h1 {
    margin-bottom: 2em;
    font-family: 'titulos', sans-serif;
}

form {
    max-width: 30em;
    margin: 0 auto;
    padding: 2em;
    background-color: #e0bfe1;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    text-align: left;
    margin-bottom: 0.5em;
    font-family: 'textos', sans-serif;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="date"],
form input[type="time"],
form input[type="number"],
form textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #27d1eb;
    border-radius: 5px;
    box-sizing: border-box;
}

form textarea {
    height: 6em;
    resize: vertical;
}

form input[type="submit"] {
    width: 100%;
    background-color: #4caf50;
    color: #ffffff;
    padding: 2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}

#imagen3D-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: "titulos";
    src: url('../fuentes/Sons\ of\ Pain\ M.C..ttf') format('truetype');
}

@font-face {
    font-family: "textos";
    src: url('../fuentes/Type\ Machine.ttf') format('truetype');
}

.card_categories_selector {
    background-color: #D3BC90;
    margin-right: 2em;
    margin-bottom: 1em;
    width: 25%;
    border-radius: 20px;
    border: solid 3px #000;
}

.card_categories_selector:hover {
    background-color: #8CDED9;
}

.card_category_selector_text {
    color: #000;
    font-family: "titulos";
    text-align: center;
}

.card_categories_selector a {
    text-decoration: none;
    font-family: "titulos";
    font-size: 30px;
    color: #000;
}

#dishes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.card_random_dish {
    background-color: #D3BC90;
    width: 17%;
    border: 3px solid #000;
    border-radius: 20px;
    margin: 3em;
    display: inline-block;
}

.card_random_dish a {
    text-decoration: none;
    font-family: "textos";
    color: #000;
    font-size: 30px;
}

.card_random_dish:hover {
    background-color: #8CDED9;
}

.card_random_dish_img {
    width: 100%;
    height: 9em;
    border-radius: 20px;
    object-fit: cover;
    padding: 10px;
}

.card_random_center {
    padding: 0.6em;
    text-align: center;
}

#random-dish h1 {
    color: #000;
    font-family: "titulos";
    text-align: center;
}

#random-dish {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/*showDish*/
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15em;
}

.card {
    background-color: #D3BC90;
    border: 3px solid #000;
    padding: 1em;
    max-width: 40%;

}

.card img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 200px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.card-title {
    font-size: 24px;
    font-family: "titulos";
    margin-bottom: 1em;
}

.card-text {
    color: #000;
    font-family: "textos";
    font-size: 16px;
    margin-bottom: 1em;
}

.card-body h5 {
    margin-top: 20px;
    font-family: "textos";
    font-size: 18px;
    color: #000;
}

.dropdown-menu li {
    margin-bottom: 5px;
}

.dropdown-menu a {
    padding: 5px 15px;
    color: #000 !important;
    font-family: "textos";
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    color: #27d1eb !important;
}

.dropdown-menu {
    border: none;
    width: 13em;
}

.dropdown-menu.bg-dark {
    background-color: #D3BC90 !important;
}

.nav-item.dropdown .nav-link {
    color: gray !important;
    font-family: "titulos";
    font-size: large;
}


#single-dish .card_list_dish img {
    width: 14%;
    height: auto;
    border-radius: 20px !important;
}

#single-dish .row {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

#single-dish .card_list_dish {
    margin: 0 auto 8px;
    width: 11em;
    text-align: center;
}


#single-dish .card_list_dish img {
    width: 9.5em;
    height: 8em;
    border-radius: 20px !important;
}

#single-dish .card_list_dish .card-text {
    font-size: 20px;
    color: #000;
    font-family: "titulos";
    margin-top: 0.4em;
}

#single-dish h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: "titulos";
}

#breadcrumbs {
    font-family: "titulos";
    color: #000;
}

.ubicacion{
    font-family: "titulos";
    text-align: center;
}

.ubicacion a{
    color: #000;
    text-decoration: none;
}

.ubicacion a:hover{
    color: #27d1eb;
}

.galeria-imagen{
    width: 100%;
    max-width: 100%;
    height: 50em;
    max-height: 50em;
}


@keyframes galopar {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(5px) rotate(-5deg);
    }

    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(-5px) rotate(5deg);
    }

    100% {
        transform: translateX(0);
    }
}

.header__logo img {
    animation: galopar 2s ease-in-out infinite;
}

@keyframes balancear {
    0% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}

.header__cart img {
    animation: balancear 2s ease-in-out infinite;
}

#spinner-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.spinner {
    border: 8px solid #000;
    border-top: 8px solid #8CDED9;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.progress-bar-container {
    width: 50%;
    height: 1em;
    background-color: #f0f0f0;
    border-radius: 20px;
    margin: 1em auto;
    position: relative;
}

.progress-bar {
    height: 100%;
    background-color: #4CAF50;
    border-radius: 20px;
    transition: width 0.5s ease;
}

.modal-body {
    background-color: #D3BC90;
}

.modal-footer {
    background-color: #8CDED9;
}

.modal-header {
    background-color: #8CDED9;
}

.modal-title {
    font-family: "titulos";
}


@media only screen and (max-width: 576px) {
    .header__subtitle {
        display: none;
    }

    .flags {
        display: none;
    }

    .header__cart {
        display: none;
    }

    .header__user {
        display: none;
    }

    .menu-wrapper {
        display: none;
    }

    .image-overlay{
        display: none;
    }

    .dishes-container {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center; 
        align-items: flex-start; 
    }

    .card_random_dish {
        width: 40%; 
        margin: 1em;
    }

    .menu-toggle {
        position: absolute;
        top: 18%; 
        right: 20px;
        transform: translateY(-50%);
        z-index: 1000;
        font-family:  "titulos";
        background-color: #D3BC90;
    }

}

/* Estilos para tablets (hasta 992px) */
@media only screen and (max-width: 992px) {
    .header__subtitle {
        display: none;
    }
    
    .header__content {
        margin-left: 5%;
    }
    
    .card_random_dish {
        width: 30%;
    }
    
    .menu-wrapper {
        display: block;
    }
    
    .image-overlay{
        display: none;
    }
}


@media only screen and (min-width: 577px) {
    .menu-toggle {
        display: none;
    }
}
